body{
    font-family: 'Manrope', sans-serif;
}
/* Sheared work */
.container{
    margin-bottom: 60px;
}
/* p-text-color */
.p-text-color{
    color: rgba(19, 19, 24, 0.60);
}
.text-h5{
    color: #131318;
    font-weight: 800;
}
.header-text{
    font-weight: 800;
}

#logo{
    height: 70px;
}


.btn{
    background-image: linear-gradient(to bottom, #FF4240 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 10px;
}
/* carousel-size */
.carousel-size img{
    height: 450px;
}

/* program-section */
.program-section{
    text-align: center;
}
/* program-section-img-all */
.program-section-img{
   display: flex;
   height: 400px;
   margin-bottom: 50px;
}
.program-section-img-text{
    background:url(Images/2.png);
    background-repeat: no-repeat;
    margin-right: 30px;
    border-radius: 10px;
    width: 600px;
    padding-top: 130px;
    padding-left: 20px;
}
.program-section-img-text-2{
    background:url(Images/3.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 600px;
    padding-top: 130px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.text-color{
    color: white;
}
.program-section-img-text-3{
    background: url(Images/4.png);
    height: 400px;
    border-radius: 10px;
    padding-top: 230px;
    padding-left: 20px;
}
/* card-align */
.card-align{
    display: flex;  
}
.card{
    margin-right: 20px;
    padding: 40px 30px 0px 30px;
}
.img-card img{
    height: 180px;
}



/* Responsive styles */

/* Responsive for small device 600px and down */
@media screen and (max-width: 600px) {
    body{
        margin: 1px 1px;  
        
    }
    .program-section-img-text{
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
   
    .program-section-img img{
        width: 95%;
        
    }
    .program-section-img-text-3{
        width: 100%;
        padding-bottom: 20px;
    }
    .program-section-img{
        flex-direction: column;
        margin-bottom: 200px;
    }
    .card-align{
        flex-direction: column;
    }
}